html{
    font-family:'Atomic Age';
}

body {
    color:coral
}
ul{
    flex-direction: column;
    margin-left: 9px;
}

li{
    flex-direction: column;
}

a {
    display: flex;
    align-items: center;
    gap: 5px;
}

a:hover{
    background-color:aquamarine;
    align-items: center;
    width: fit-content;
}

p{
    font-family: 'Atomic Age';
}